body {
	background-color: #173f59;
}


.bouton {
	background-color : #5e8d57;
	border: none;

	margin-bottom: 50px;
	margin-left: 20px ;
	margin-right: 20px;

	text-align: center;
	font-family: "Lato Light";
	font-size: 33.43px ;
	color: white;
	white-space: nowrap;
	vertical-align: top;

	width: 500px;
	height : 200px;

}

#ADMINISTRATION {
	background-color: #456699;
}

#AffluenceTotale {
	font-family: "Lato Light";
	font-size: 75px ;
	color: white;

	background-color: #2e778d;

	padding-top: 30px;

	width: 100%;
}

.icone {
	width: 20%;
}


