body {
	background-color: #173f59;
}

/*----- header------*/ /*
#header { background-color: #14364c; height: 62px; }

.logo-entete { height: 35px; margin-top: 13px; }

#Ld { position: absolute; left: 20px; }

#Af { position: absolute; right: 25px; } */
/*----- fin header------*/


#blocTot {
	display: block;

	background-color: #2e778d;

	height: 232px;
	margin-top: -5px;
	margin-left: 6px;
	margin-right: 6px;

	color: white;
	font-family: "Lato Light";

}


#AffluenceTotale {
	font-size: 210%;
	padding-top: 5px;
}

#blocTot>h2 {
	font-size: 20px;
	/*margin-left: -70%;*/
	margin-top: -7px;
}

#blocTot>h3 {
	font-size: 137.5%;
	margin-left: -70%;
	margin-top: -10px;
}

#blocTot>h4 {
	font-size: 190%;
	font-weight: bold;
	margin-left: -70%;
	margin-top: 15px;
}



.bouton {
	background-color : #5e8d57;
	border: none;

	/*width: 262.5px;*/
	width: 98%;
	height : 105px;

}

.bouton:hover {
    background-color: #45a049;
}

.nom {
	font-family: "Lato Light";
	font-size: 110%;
	color: white;
	padding-top: 10px;
}

#ADMINISTRATION {
	background-color: #456699;
}

#ADMINISTRATION:hover {
    background-color: #335a98;
}

.icone {
	height: 40px;
}

.salle {
	margin-top: 8px;
	margin-left: -60px;
}

h5 {
	margin-top: -35px;
	margin-left: 70px;

	font-family: "Lato";
	font-size: 30px;
	color: white;

}



.gauche {
	margin-left: 6px;
}

.droite {
	margin-left: -3px;
}

.haut {
	margin-top:-1px;
}

.bas {
	margin-top: 6px;
}

#deco2 {
	position : absolute; left: 50%;
	transform: translate(-50%);
	margin-top: 55px;
}


