body {
	margin: 0px 0px 0px 0px;
}

/* --FONT FACE-- */
@font-face {
	font-family: "Lato Light";
 	src: url(".ressources/fonts/Lato-Light.woff2") format("woff2")
}


.text {
	font-family: "Lato Light";
}

#fond {
	width : 420px;

	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

#Ludinord {
	background-color: #173f59;
	background-image: url("./Ressources/jeux-societe-android.jpg")
	background-position: center;
  	height: 250px;
}

#Ludinord>h1 {
  	color: #173f59;
	font-family: "Lato Light";
	font-weight: bold;
	font-size: 40px ;
	text-align: center;
	white-space: nowrap;

	position: absolute;
	top : 222.5px; left: 50%;
	transform: translate(-50%);
}

#fedejeux {
	width: 100px;
	margin: 0px;
	position : absolute;
	top : 85px ; left: 50%;
	transform: translate(-50%);
	z-index: 1;
}

#identification {
	margin-top: 25px;

}

.zone {
    width: 220px;
    height: 33px;
    padding: 0px 10px;

    background-color: #173f59;
	font-family: "Lato";
	font-size: 20px ;
	color: white;

    display: inline-block;
    border: 0.5px solid #ccc;
    border-radius: 13px;
    /*box-sizing: border-box;*/

    position : absolute;
	left: 50%;
	transform: translate(-50%);
}

#login{
	margin-top: 30px;
}

#passe {
	margin-top: 80px;
}

#action {
    width: 168px;
	height: 47px;

   	background-color: #1d4d66;
	color: #d6dbdf;
	font-family: "Lato Light";
	font-size: 25px ;
	text-align: center;
	
    margin-top: 130px;
    border: none;
    border-radius: 13px;
    cursor: pointer;

    position : absolute;
	left: 50%;
	transform: translate(-50%);
}

#action:hover {
    background-color: #45a049;
}

#deco1 {
	background-color: transparent;
	position : absolute;
	left: 50%;
	transform: translate(-50%);

	margin-top: 80%;
}