body {

	background-color: #173f59;
	margin: 0px;

}



img {
	width: 100%;
}


h1 {
	color: #173f59;
	font-family: "Lato Light";
	font-style: bold;
	font-size: 110px ;

	text-align: center;
	position : absolute;
	top : 20%; left: 10%;
}

div {
    background-color: #173f59; 
    padding: 20px;
}


/*

button {

	background-color: #1d4d66;
	color: white;
	font-family: "Lato Thin";
	font-size: 49.1px ;
	text-align: center;

	width: 45.79%;
	height: 6.54%;
	border-radius: 30px;
	border: none;
}


textarea {

	background-color: #173f59;
	color: white;
	font-family: "Lato Thin";
	font-size: 36.47px ;

	padding-left: 20px;

	width: 61.36%;
	height: 5.24%;
	border-radius: 30px;
}


*/

input[type=text], select {
    width: 61.36%;
    height: 5.24%;
    padding: 12px 20px;
    margin: 8px 0;

    background-color: #173f59;
	font-family: "Lato";
	font-size: 36.47px ;

    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 61.36%;
    height: 5.24%;
    padding: 12px 20px;
    margin: 8px 0;
    
    background-color: #173f59;
	font-family: "Lato";
	font-size: 36.47px ;

    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 45.79%;
	height: 6.54%;

   	background-color: #1d4d66;
	color: #d6dbdf;
	font-family: "Lato Light";
	font-size: 49.1px ;
	text-align: center;

    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


</style>