#header {
	display: block;
	background-color: #14364c;
	height: 10px;
}

.logoLud {
	display: block;
	width: 10%;
	position : absolute;
	top: 50px; left: 55px;
}


.assoFed {
	display: block;
	width : 10px;
	position : absolute;
	top: 55px; right: 60px;
}