<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>

 <!-- 				stylesheet 			-->
  <link rel="stylesheet" href="./CSS/ARENOMERSVP.css">
  <link rel="stylesheet" href="./CSS/global.css">
  <link rel="stylesheet" href="./CSS/connexion.css">
  <link rel="stylesheet" href="./CSS/accueil.css">
  <link rel="stylesheet" href="./CSS/admin.css">
  <link rel="stylesheet" href="./CSS/salles.css">
<!-- 				SCRIPTS				 -->
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>



</head>
<body>

<div id="navigation"></div>

	<div id="connexion">
		<template  v-if="showConnexion">
			<!-- pour test -->
			<!-- <div onclick="NAV.toAccueil()">connexion</div> -->
			<!-- pour test -->
			<img src="./Ressources/jeux-societe-android.jpg" id="fond">
			<h1>LUDINORD 2019</h1>
			<img src="./Ressources/logo-fedejeux.png" id="fedejeux">
			<div>
				<form action="controleur.php" method="GET">
					<input type="text" id="login" placeholder="Identifiant"/><br />
					<input type="password" id="passe" placeholder="Mot de passe"/><br />
					<input type="submit" id="action" value="CONNEXION" />
				</form>
			</div>
		</template>
	</div>

	<!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->


	<div id="header">
		<template v-if="showHeader">
			<div onclick="NAV.toAccueil()"> Retour à l'accueil </div>
			<img src="./Ressources/logo-ludinord.png"> 
			<img src="./Ressources/logo-fedejeux.png">
		</template>
	</div>

	<!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->

	<div id="accueil">
		<template v-if="showAccueil">

				<div id="AffluenceTotale"> 
					<h1> AFFLUENCE TOTALE </h1>
				</div>
				<div id= "partie boutons 1">
							<button class="bouton" id="fort" onclick = "NAV.toSalles()">
								<img src="./Ressources/sand-castle.png" id="logo">	
								SALLE DU FORT
							</button>
							<button class="bouton" id="MONTAIGNE" onclick = "NAV.toSalles();">
								<img src="./Ressources/students-cap.png" id="logo">
								SALLE MONTAIGNE
							</button>
				</div>
				<div id= "partie boutons 2">
							<button class="bouton" id="CHAPITEAU" onclick = "NAV.toSalles()">
								CHAPITEAU
								<img src="./Ressources/park-tent-of-a-circus.png" id="logo">
							</button>
							<button class="bouton" id="ADMINISTRATION" onclick = "NAV.toSalles()">
								<img src="./Ressources/settings.png" id="logo">
								PAGE D'ADMINISTRATION 
							</button>
				</div>

		</template>
	</div>

	<!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->

	<div id="admin">
		<template v-if="showAdmin">
			<div onclick="NAV.toAccueil()"> Retour à l'accueil </div>

			<div>Page d'administration</div>

			<div id="remiseZero">

				<form action="remiseAZero">

				<div>

					<div>
						Salle Montaigne
						<input type="checkbox" name="salleMontaigne">
					</div>

					<div>
						Salle du Fort
						<input type="checkbox" name="salleDuFort">
					</div>

					<div>
						Le Chapiteau
						<input type="checkbox" name="leChapiteau">
					</div>

				</div>

				<input type="submit" value="REMISE A ZERO">

				</form>

			</div>

			<hr>

			<div id="modifData">

				<form action="modifData">
				<table>
						<tr>
	    					<td>&nbsp;</td>
	    					<td>Seuil</td>
	    					<td>Capacité</td>
	  					</tr>
	 					<tr>
	    					<td>Salle Montaigne</td>
	    					<td><input type="text" name="seuilM"></td>
	    					<td><input type="text" name="capM"></td>
	  					</tr>
	 					<tr>
	    					<td>Salle du Fort</td>
	    					<td><input type="text" name="seuilF"></td>
	    					<td><input type="text" name="capF"></td>
	  					</tr>
	 					<tr>
	    					<td>Le Chapiteau</td>
	    					<td><input type="text" name="seuilC"></td>
	    					<td><input type="text" name="capC"></td>
	  					</tr>

				</table>

				<input type="submit" value="ENREGISTREMENT">

				</form>
			</div>

		</template>
	</div>

	<!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->

	<div id="salles" > 
		<template v-if="showSalles">  
	  		<div id="contenu">
		        <div class="titre">
		            AFFLUENCE - {{ salle }} <img src="imageDeLaSalle"/>
		        </div>

		        <div id="affluences">
			        <div id="actuelle">
			            <span> Affluence actuelle </span> {{ affluence }} 
			        </div>

			        <div id="totale">
			           <span> Affluence totale </span> {{ limite }} 
			        </div>
		        </div>
	        	<!-- Graphique -->
		        <div id="tauxLimites">
		            <img src="ressources/WARNING.png"/>
		            <div class="alerte"> Capacité maximale : {{ valeurMax }}</div>
		            <div class="alerte"> seuil d'alerte : {{ valeurAlerte }}</div>
		        </div>
		    </div>

	        <div class="bottomlink" onclick="NAV.toAdmin()">Page d'administration</div> - 
	        <div class="bottomlink" onclick="NAV.toConnexion()">Déconnexion</div>
	    </template>
	</div>    
	     
	<!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->
	        
<div id="footer">
	
</div>

<script src="./JS/navigation.js"></script>
<script src="./JS/connexion.js"></script>
<script src="./JS/accueil.js"></script>
<script src="./JS/admin.js"></script>
<script src="./JS/salles.js"></script>
<script src="./JS/header.js"></script>

</body>
</html>