<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ludinord 2019</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

  <!--        stylesheet      -->
    <link rel="stylesheet" href="./CSS/global.css">
    <link rel="stylesheet" href="./CSS/connexion.css">
    <link rel="stylesheet" href="./CSS/accueil.css">
    <link rel="stylesheet" href="./CSS/admin.css">
    <link rel="stylesheet" href="./CSS/salles.css">
  <!--        SCRIPTS        -->
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    <script src="./JS/conf_firebase.js"></script>
     <script src="./JS/fctsFirebase.js"></script>
    
  </head>

<body>

<div id="navigation"></div>

  <div id="connexion">
    <template  v-if="showConnexion">
      <!-- <img src="./Ressources/jeux-societe-android.jpg" id="fond"> -->
      <div id="Ludinord">
        <img src="./Ressources/logo-fedejeux.png" id="fedejeux">
        <h1>LUDINORD 2019</h1> 
      </div>
      <div id="identification">
        <form action="controleur.php" method="GET">
          <input type="text" id="login" class="zone" placeholder="Identifiant"/><br />
          <input type="password" id="passe" class="zone" placeholder="Mot de passe"/><br />
          <!-- <input type="submit" id="action" class="button" value="CONNEXION" /> -->
          <!-- pour test -->
          <div onclick="NAV.toAccueil()" class="btn btn-primary" id="action">CONNEXION</div>
          <!-- pour test -->
        </form>
      </div>
    </template>
  </div>

  <!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->


  <div id="header">
    <template v-if="showHeader">
        <img src="./ressources/logo-ludinord.png" class="logo-entete" id="Ld"> 
        <img src="./ressources/Association Fédéjeux.png" class="logo-entete" id="Af">
      <!-- <div onclick="NAV.toAccueil()" class="btn btn-primary" id="retourAcc"> Retour à l'accueil </div> -->
    </template>
  </div>

  <!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->

  <div class="container" id="accueil">
    <template v-if="showAccueil">
        <div class="row text-center"> 
          <div class="col-xs-12 col-sm-6">
            <h1 class="text-center" id="AffluenceTotale">AFFLUENCE TOTALE</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="bouton gauche haut" id="FORT" onclick = "NAV.toSalles()">
                 <h1 class="nom text-center ">SALLE DU FORT</h1>
                <img src="./Ressources/sand-castle.png" class="icone salle">
              </div> -->
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="bouton droite haut" id="MONTAIGNE" onclick = "NAV.toSalles();">
                <h1 class="nom text-center ">SALLE MONTAIGNE</h1>
                <img src="./Ressources/students-cap.png" class="icone salle">
              </div>
            </div>
        </div>
        <div class="row" id="bouton-partie2">
          <div class="col-sm-3 col-xs-6">
              <div class="bouton gauche bas" id="CHAPITEAU" onclick = "NAV.toSalles()">
                <h1 class="nom text-center">CHAPITEAU</h1>
                <img src="./Ressources/park-tent-of-a-circus.png" class="icone salle">
              </div>
          </div>
          <div class="col-sm-3 col-xs-6">
              <div class="bouton text-center droite bas" id="ADMINISTRATION" onclick = "NAV.toAdmin()">
                <h1 class="nom">PAGE D'ADMINISTRATION</h1>
                <img src="./Ressources/settings.png" class="icone">
              </div>
          </div>
        </div>
      </div>    
    </template>
  </div>

  <!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->

  <div id="admin">
    <template v-if="showAdmin">
      <div onclick="NAV.toAccueil()" class="btn btn-primary" id="retourAcc"> < <u>Retour à l'accueil</u> </div>
      <h1 class="text-center" id="titreAdmin">Page d'administration</h1>
      <div class="container" id="remiseZero">
        <form action="remiseAZero">
          <div class="row" id="cocherSalles"> 
            <div class="col-sm-2 col-xs-4">
              <div class="form-check text-center coche" id="CheckMontaigne"> 
                <p>Salle Montaigne</p> 
                <input type="checkbox" class="form-check-input"></input>   </div> </div>
            <div class="col-sm-2 col-xs-4">
              <div class="form-check text-center coche" id="CheckFort"> 
                <p> Salle du Fort</p> 
                <input type="checkbox" class="form-check-input"></input>    </div> </div>
            <div class="col-sm-2 col-xs-4">  
              <div class="form-check text-center coche" id="CheckChapiteau">
                <p>Le Chapiteau</p> 
                <input type="checkbox" class="form-check-input"></input>   </div> </div> </div>
          <div class="btn btn-primary validation" id="RAZ">REMISE A ZERO</div>
        </form>
      </div>
      <div id="separation"> </div>
      <div class="container" id="modifData">
        <form action="modifData">
        <table>
            <tr>  <td>&nbsp;</td> <td class="zoneText">Seuil</td>  <td class="zoneText">Capacité</td> </tr>
            <tr>  <td class="nm">Salle Montaigne</td>  <td><input type="text" name="seuilM" class="zoneText"></td>
                <td><input type="text" name="capM" class="zoneText"></td>  </tr>
            <tr>  <td class="nm">Salle du Fort</td>  <td><input type="text" name="seuilF" class="zoneText"></td>
                  <td><input type="text" name="capF" class="zoneText"></td>  </tr>
            <tr>  <td class="nm">Le Chapiteau</td> <td><input type="text" name="seuilC" class="zoneText"></td>
                  <td><input type="text" name="capC" class="zoneText"></td>  </tr>
        </table>
        <div class="btn btn-primary validation" id="save">ENREGISTREMENT</div>
      </div>
    </template>
  </div>

  <!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->

  <div id="salles" > 
    <template v-if="showSalles"> 
        <div onclick="NAV.toAccueil()" class="btn btn-primary" id="retourAcc"> Retour à l'accueil </div> 
        <div id="contenu">
            <div class="titre">
                AFFLUENCE - {{ salle }} <img src="imageDeLaSalle"/>
            </div>

            <div id="affluences">
              <div id="actuelle">
                  <span> Affluence actuelle </span> {{ affluence }} 
              </div>

              <div id="totale">
                 <span> Affluence totale </span> {{ limite }} 
              </div>
            </div>
            <!-- Graphique -->
            <div id="tauxLimites">
                <img src="ressources/WARNING.png"/>
                <div class="alerte"> Capacité maximale : {{ valeurMax }}</div>
                <div class="alerte"> seuil d'alerte : {{ valeurAlerte }}</div>
            </div>
        </div>

          <div class="bottomlink" onclick="NAV.toAdmin()">Page d'administration</div> - 
          <div class="bottomlink" onclick="NAV.toConnexion()">Déconnexion</div>
      </template>
  </div>    
       
  <!-- tenez bien une incrémentation claire (trop de sauts de lignes, div pas claires etc...) -->
          
  <div id="footer">
    <div onclick="NAV.toConnexion()" class="btn btn-primary">Déconnexion</div>
  </div>  -->

<script src="./JS/navigation.js"></script>
<script src="./JS/connexion.js"></script>
<script src="./JS/accueil.js"></script>
<script src="./JS/admin.js"></script>
<script src="./JS/salles.js"></script>
<script src="./JS/header.js"></script>



    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>