body {

	background-color: #173f59;

}

#header {
	display: block;
	margin-bottom: : auto;
	background-color: #14364c;
	height: 180px;
}

#ludinord{
	display : block;
	width: 250px;
	position : absolute;
	top: 50px; left: 55px;
}


#assoFédéjeux {
	display : block;
	width : 230px;
	position : absolute;
	top: 55px; right: 60px;
}


h1 {
	display: block;
	background-color: #2e778d;

	margin-top: 20px;
	padding-top: 30px;
	
	
	height: 500px;
	width: 90%;

	text-align: center;
	font-family: "Lato Thin";
	font-size: 75px ;
	color: white;
	
}




/*button.img {

	display: block;
	width:50px;
	margin-left: auto;
	margin-right: auto;


}*/

button {

	background-color : #5e8d57;
	text-align: center;
	font-family: "Lato Light";
	font-size: 33.43px ;
	color: white;
	white-space: nowrap;
	vertical-align: top;

	width: 420px;

}