body {
	background-color: #173f59;
	margin: 0px;
}


img {
	width: 100%;
	margin: 0px;
}


h1 {
	color: #173f59;
	font-family: "Lato Light";
	font-style: bold;
	font-size: 110px ;
	text-align: center;
	white-space: nowrap;

	position : absolute;
	top : 470px ; left: 50%;
	transform: translate(-50%);
	} 


h2 {
	width: 28%;
	margin: 0px;
	position : absolute;
	top : 220px ; left: 50%;
	transform: translate(-50%);
}



div {
    background-color: #173f59; 
    padding: 20px;
}


input[type=text], select {
    width: 600px;
    height: 90px;
    padding: 0px 20px;
    margin-top: 130px;

    background-color: #173f59;
	font-family: "Lato";
	font-size: 50px ;
	color: white;

    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 30px;
    /*box-sizing: border-box;*/

    position : absolute;
	left: 50%;
	transform: translate(-50%);
}


input[type=password], select {
    width: 600px;
    height: 90px;
    padding: 0px 20px;
    margin-top: 280px;
    
    background-color: #173f59;
	font-family: "Lato";
	font-size: 50px ;
	color: white;

    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 30px;
    /*box-sizing: border-box;*/

    position : absolute;
	left: 50%;
	transform: translate(-50%);
    
}

input[type=submit] {
    width: 45.79%;
	height: 6.54%;

   	background-color: #1d4d66;
	color: #d6dbdf;
	font-family: "Lato Light";
	font-size: 65px ;
	

    padding: 14px 20px;
    margin-top: 460px;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    position : absolute;
	left: 50%;
	transform: translate(-50%);
}

input[type=submit]:hover {
    background-color: #45a049;
}


</style>