body {

	background-color: #173f59;

}

head {
	margin: auto;
	background-color: #1d4d66;
	color: white;
	font-family: "Lato Thin";
	font-size: 49.1px ;

}

h1 {
	color: white;
	text-align: center;
	font-family: "Lato Light";
	font-size: 55.97px ;


}

button.img {

	display: block;
	width:300px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;


}

button {

	background-color: #1d4d66;
	color: white;
	font-family: "Lato Thin";
	font-size: 49.1px ;
	text-align: center;



	padding-left: 50px;
	padding-top: 50px;
	width: 343.45px;
	height: 87.3px;
}


textarea {

	background-color: #173f59;
	color: white;
	font-family: "Lato Thin";
	font-size: 36.47px ;



	padding-left: 0px;
	padding-top: 0px;
	width: 460.21px;
	height: 69.89px;
}
